/* место для вашего кода */
ul {
    list-style: none;
} 

.header{
    width: 100%;
    height: 293px;
    background-color: white;
    padding: 92px 24px 96px;
}

.header__container{
height: 105px;    
width: 1052px;
display: flex;
flex-flow: row nowrap;
}
.header__menu{
  margin: 44px 36px 39px 26px;
 display: flex;
 gap:32px;
 flex-flow: row nowrap;
 list-style-type:  circle;
 width: 392px;
 line-height: 22px;
}
.header__link{
 text-decoration: none;
border-bottom: 1px solid black;
 white-space: nowrap;  
}
.header__link:first-child{
    list-style-type: none;
    text-decoration: none;
    border-bottom: none;
}
.header__logo{
    margin-right: 184px;
}
.header__address{
    width: 241px;
    margin: 2px 25.48px 5px;
    line-height: 24px;
    font-style: normal;
}
.address__link{
    text-decoration: none;
    border-bottom: 1px solid black;
}
.cover{
    width: 100%;
    height: 757px;
    position: relative;
    background-image: url("/images/cover.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: 50% 0% ;
}
.overlay{
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cover__title{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: white;
    font-size: 100px;
    letter-spacing: 0.3em;
    padding: 165px 50px;
}
.letter-spacing-extended{
    letter-spacing: 0.6em;   
}
.aligned-text{
    line-height: 115px;
}
.aligned-text_center{
    line-height: 100px;
    margin: 20px 0;
    padding-left: 286px;
}
.aligned-text_right{
    line-height: 100px;
    text-align: right;
}
.no-letter-spacing{
    letter-spacing: 0;
}
.cover__description{
    position: absolute;
    z-index: 3;
    padding: 655px 50px 51px 78px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}
.cover__description-text{
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.letter-spacing-80{
    letter-spacing: 0.8em;    
}
.letter-spacing-90{
    letter-spacing: 0.9em;    
}
.letter-spacing-110{
    letter-spacing: 1.1em;    
}
.bet-button{
    background: transparent;
    border: 1px solid white;
    width: 256px;
    height: 51px;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.lots{
    width: 1052;
    height: 692px;
    margin: 179px 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.lots__heading{
color: black;
font-size: 40px;
text-transform: uppercase;
font-weight: bold;
margin-left: 40px;
margin-bottom: 27px;
}
.lots__card-list{
    width: 100%;
    display: flex;
    gap: 25px;
    position: relative;
}
.lots__card-list-item{
    display: block;
    width: 334px;
    min-height: 563px;
    position: relative;
}
.card-link{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.card{
    width: 100%;
    height: 100%;
    padding: 51px 40px 48px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: white;

}
.card_type_film{
    background-image: url("/images/card-lot-01.jpg"); 
}
.card_type_book{
    background-image: url("/images/card-lot-02.jpg");
}
.card_type_picture{
    background-image: url("/images/card-lot-03.jpg");
}
.card__title{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}
.card__text{
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 0;
}
.lots__look-more-link{
    margin-left: 40px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 400;
    width: 192px;
}